<!-- About Section -->
<section class="success" id="about">
   <div class="container">
    <div class="row">
      <!-- Aggiungi la classe "title-container" e metti le immagini QUI DENTRO -->
      <div class="col-lg-12 text-center title-container">

        <!-- Immagine decorativa a sinistra -->
        <img src="img/decor-left.png" alt="Decorazione sinistra" class="about-decor-img" id="decor-left">

        <!-- Immagine decorativa a destra -->
        <img src="img/decor-right.png" alt="Decorazione destra" class="about-decor-img" id="decor-right">

        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Hi, I’m Christian Colombo: welcome to my personal website.
            Here, you’ll get a glimpse into my world through the projects I’ve created.
            Each one reflects the way I think, design, and bring ideas to life. They’re not just games: they’re pieces of me.

            I'm passionate about game design and how interactive experiences can tell stories, challenge players, and create emotion.
            I love pushing myself with new ideas, experimenting with different mechanics, and learning as much as I can along the way.

            Whether you're here out of curiosity or looking for inspiration, I hope you enjoy exploring what I’ve built.</p>
      </div>
      <div class="col-lg-4">
        <p>
          I’ve always been fascinated by how games can tell stories, challenge the mind, and bring people together.<br>
          Ever since I was a kid, I loved thinking about how to make others have fun, whether it was inventing games at home or organizing activities at the local youth center.<br>
          That passion naturally grew into an interest in game design during my studies, where I discovered how powerful interactive experiences can be when crafted with care.<br>
          Over time, I started building small prototypes, and refining my voice as a designer: always learning, always experimenting.
        </p>
      </div>
    </div>  

  <div class="row text-start" style="margin-top: 50px; margin-bottom: 30px;">
    <div class="col-lg-8 offset-lg-2">
      <h3><strong>Education & Skills</strong></h3>
         <ul>
          <li> Master's Degree in Computer Science – Università degli Studi Milano</li>
          <li> Focus on Game and Level Design & Interactive Storytelling</li>
          <li> Tools: Unity, Unreal Engine</li>
          <li> Game Design: Creation of Game Design Documents, Game Technical Documents and Level Design Documents. </li>
          <li> Game Programming: AI design/programming, UI design/programming, C#, C++, Java.</li>
        </ul>
    </div>
  </div>

<div class="row text-center" style="margin-top: 50px; margin-bottom: 30px;">
    <div class="col-lg-8 col-lg-offset-2">
        <h3>My Toolbox</h3>
        <p>
            <span class="label label-primary" style="font-size:16px; margin:3px;">Unity</span>
            <span class="label label-primary" style="font-size:16px; margin:3px;">Unreal Engine</span>
            <span class="label label-success" style="font-size:16px; margin:3px;">C#</span>
            <span class="label label-success" style="font-size:16px; margin:3px;">C++</span>
            <span class="label label-success" style="font-size:16px; margin:3px;">Java</span>
            <span class="label label-info" style="font-size:16px; margin:3px;">Game Design</span>
            <span class="label label-info" style="font-size:16px; margin:3px;">Level Design</span>
            <span class="label label-warning" style="font-size:16px; margin:3px;">UI/UX</span>
            <span class="label label-danger" style="font-size:16px; margin:3px;">Git & GitHub</span>
        </p>
    </div>
</div>
<div class="row text-center" style="margin-top: 50px;">
    <h3>Il mio approccio</h3>
    <div class="col-md-4">
        <span class="fa-stack fa-4x">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
        </span>
        <h4>1. Design & Documentazione</h4>
        <p style="font-size:16px;">Analizzo l'idea e la strutturo in documenti chiari (GDD, LDD) per definire la visione e le meccaniche di base.</p>
    </div>
    <div class="col-md-4">
        <span class="fa-stack fa-4x">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-cogs fa-stack-1x fa-inverse"></i>
        </span>
        <h4>2. Prototipazione & Iterazione</h4>
        <p style="font-size:16px;">Sviluppo rapidamente prototipi giocabili per testare il "fun factor". I dati e il feedback guidano ogni miglioramento.</p>
    </div>
    <div class="col-md-4">
        <span class="fa-stack fa-4x">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-check fa-stack-1x fa-inverse"></i>
        </span>
        <h4>3. Rifinitura & Bilanciamento</h4>
        <p style="font-size:16px;">Una volta consolidate le meccaniche, mi concentro sul bilanciamento, sulla user experience e sulla pulizia del codice.</p>
    </div>
</div>
      <div class="col-lg-8 col-lg-offset-2 text-center" style="margin-top: 60px;">
    <h4>Ti interessa il mio profilo?</h4>
    <p>Dai un'occhiata più approfondita al mio percorso e alle mie esperienze.</p>
    <a href="/assets/CV_ColomboChristian.pdf" class="btn btn-lg btn-outline" download>
      <i class="fa fa-download"></i> Scarica il mio CV
    </a>
    <a href="#contact" class="btn btn-lg btn-outline">
      <i class="fa fa-envelope-o"></i> Contattami
    </a>
</div>
</section>
